$backgound: #2e3a47;

.item {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 500;
  width: 150px;
  height: 42px;
  background-color: $backgound;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  .flag {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  .arrow {
    margin-left: 5px;
  }
}

.wrapper {
  width: 150px;
  height: 42px;
  position: relative;
  
  .list {
    position: absolute;
    display: none;
  }

  &.isOpen .list {
    display: block;
  }
}
.box {
  z-index: 3;
}



.title{
text-overflow: ellipsis; 
overflow: hidden; 
white-space: nowrap;
margin-right: auto;
}