$backgound: #2e3a47;



.wrapper {
  width: 15rem;
  height: 4.2rem;
  position: relative;
  
  .list {
    position: absolute;
    display: none;
  }

  &.isOpen .list {
    display: block;
  }
}
.box {
  z-index: 3;
}



.title{
text-overflow: ellipsis; 
overflow: hidden; 
white-space: nowrap;
margin-right: auto;
}



.item {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  font-size: 1.8rem;
  font-weight: 500;
   width: 15rem;
  height: 4.2rem;
  background-color: $backgound;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  .flag {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    img{
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  .arrow {
    margin-left: 0.5rem;
  }
}