.wrapper {
  display: flex;
  align-items: center;
  .content {
    color: var(--primary-color-ligh) !important;
    margin: 0 2rem;
    font-size: 3rem !important;
    font-weight: 700;
    text-align: center;
  }
   
}
