.header {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.content{
    background: linear-gradient(#2e3b4d, #1c2532);
    padding: 20px;
    border-radius: 20px;
    line-height: 25px;
}
.question-item {
  h3 {
    font-size: 20px;
    color: var(--text-primary);

    margin: 10px 0 ;
  }
  p {
    color: var(--text-2);
    font-size: 20px;
    margin-bottom: 20px;
  }
}

