.wrapper {
}

.content {
    background: linear-gradient(#2e3b4d , #1C2532);

  border-radius: 20px;
  padding: 50px 20px;
}
.heading {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.time-line {
  color: var(--text-primary);
  font-size: 30px;
  font-weight: 800;
  transform: translateY(-10px);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .logo {
    img {
      width: 143px;
      height: 41px;
    }
  }
  .link {
    font-size: 20px;
    color: var(--text-primary);
    text-decoration: underline;
  }
  .btn {
    border-radius: 20px;
    border: 1px solid var(--red-color);
    max-width: 138px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--red-color);
    text-transform: uppercase;
  }
}

.bingo {
  padding: 10px 40px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  background: url("https://obhash.gaotuprofessional.com/_nuxt/img/progress-4-bg.00e413f.png");
  border-radius: 20px;
  opacity: 0.6;;
  h3 {
    color: var(--text-primary);
  }

  img {
  }
}
