.wrapper {
}

.content {
    background: linear-gradient(#2e3b4d , #1C2532);

  border-radius: 20px;
  padding: 50px 20px;
}
.heading {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.time-line {
  color: var(--text-primary);
  font-size: 25px;
  font-weight: 600;
  transform: translateY(-10px);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .logo {
    img {
      width: 143px;
      height: 41px;
    }
  }
  .link {
    font-size: 20px;
    color: var(--text-primary);
    border-bottom: 1px solid currentColor;
    line-height: 20px;
  }
  .btn {
    border-radius: 20px;
    border: 1px solid var(--red-color);
    max-width: 138px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--red-color);
    text-transform: uppercase;
  }
}

.bingo {
  padding: 20px 40px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  background: url("https://obhash.gaotuprofessional.com/_nuxt/img/progress-4-bg.00e413f.png");
  border-radius: 20px;
  margin-top: -20px;
   
  h3 {
    color: var(--text-primary);
  }

   
}

@media (max-width: 576px) {
  .time-line{
    font-size: 18px;
    transform: translateY(-3px);
  
  }

  
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .logo {
    img {
      width: 100px;
      height: unset;
    }
  }
  .link {
     font-size: 16px;
  }
  .btn {
    font-size: 12px;
    max-width: 100px;
    padding: 5px;
    height: 35px;
  }
}

.bingo {
 
  font-size: 25px;
  
   
   
 img{
  margin-top: 10px;
 }


   
}

}