.wrapper {
  .heading {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }

  p {
    color: var(--text-primary);
    font-size: 2rem;
   
  }
  .img {
    width: 100%;
  }
}

.content {
  background: linear-gradient(#2e3b4d, #1c2532);
  padding: 2rem;
  border-radius: 20px;
  line-height: 2.3rem;
  img {
    border-radius: inherit;
    margin: 1rem 0;
  }
}
 