.container{
    max-width: var(--container-width);
    width: 100%;
    margin: auto;
    background-color: var(--background-color);
    padding: 0 var(--container-padding);
    position:relative;
    min-height: 100vh;
}