.container{
    max-width: var(--container-width);
    width: 100%;
    margin: auto;
    background-color: var(--background-color);
    padding: 0 25px;
    //  height: 2000px;
    position:relative;
}