.wrapper {
  background-color: #323E4A;
  border-radius: 2rem;
  font-size: 1.8rem;
  margin: 2rem auto;
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.content {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0 1rem;
  flex-grow: 1;
  text-align: center;
}

.icon {
  color: var(--warning-color);
  font-size: 2rem;
}

.check {
  color: var(--primary-color);
  background-color: transparent;
  font-size: 2rem;
  min-width: 10rem;
  cursor: pointer;
}


.popup {
   
  &.showNotify .popup__content {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);

  }
  &.showNotify .overlay{
    visibility: visible;
    opacity: 1;
    
  }
  .overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(var(--container-width));
    width: 100%;
    background-color: var(--background-overlay);
    visibility: hidden;
    opacity: 0;
    z-index: 998;
    transition: 0.5s;
  }

  .popup__content {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 2rem;
    max-width: calc(var(--container-width) - var(--container-padding) * 2);
    width: 100%;
    background: var(--background-box);
    padding: 0rem 2rem;
    //animation
    visibility: hidden;
    transform: translate(-50%, -50%)  scale(0.5);
    opacity: 0;
    transition: 0.5s;
    z-index: 999;
    

  }

  .group-notify {
    overflow-y: auto;
    max-height: calc(80vh - 14rem);
    // padding: 1rem 2rem;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  p {
    display: block;
    font-size: 2.5rem;
    color: var(--text-black);
  }

  .title {
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: var(--primary-color);
    margin: 3rem 0;
  }

  .notify__footer {
    padding: 3rem 0;
    width: 100%;
 
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    text-align: center;
    

    .btn {
      min-width: 25rem;
      padding: 1rem 4rem;
      border-radius: 5rem;
      font-size: 3rem;
      background-color: #FFEACB;
      font-weight: 300;
      cursor: pointer;
      color: var(--text-black);
    }
  }
}