.wrapper {
  color: #fff;
  width: 100%;
  height: 100px;
  height: auto;
}

.qr-address {
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  
}
.link {
  background-color: #262b34;
  flex: 1;
  padding: 10px;
  border-bottom-left-radius: 10px;
  // max-width: 410px;
  // width: 100%;

  h3 {
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 20;
    font-weight: 700;
    display: inline-block;
  }
  span {
    color: var(--text-2);
    font-size: 17px;
    font-weight: 300;
  }
  p {
    color: var(--text-2);
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 310px;
  }
}
.qr,
.save {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  min-width: 70px;
  border-bottom-right-radius: 10px;
}
.qr {
  background-color: #20252c;
}
.save {
  background-color: #ffe0b3;
  border-top-right-radius: 10px;
}

.hash {
  img {
    height: 257px;
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
  }
}

.role {
  text-align: center;
  font-size: 18px;
  strong {
    color: var(--red-color);
  }
}
.video {
  img {
    width: 100%;
  }
}
.example {
  margin-top: 20px;
  color: #fff !important;

  strong {
    color: var(--red-color);
  }
  .item {
    font-size: 20px;
    color: rgb(136, 136, 136) !important;
    background-color: #121923;
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px;

    .title {
      font-size: 25px;
      text-align: center;
      color: var(--primary-color);
      text-transform: uppercase;
    }
  }
}

@media (max-width: 576px) {
  .qr-address {
     
  }
  .link {
    max-width: 310px;
    h3 {
      font-size: 18px;
    }
    span ,p {
      font-size: var(--font-size-text-normal-mobile);
    }
    
  }
  .role {
    font-size: 14px;
  }

  .example {
    strong {
    }
    .item {
      font-size: 15px;

      .title {
        font-size: 18px;
      }
    }
  }
}
