.wrapper {
    padding-bottom: 5rem;
}

.banner {

    padding: 12rem 0;
    display: flex;
    justify-content: center;
    width: 100%;

    img {
        width: 30rem;
    }
}

.content {}

.register-login {
    margin: 4.3rem 0;
}

.btn-register {
    padding: 3rem 5rem;
    width: 60%;
    text-align: center;
    background-image: linear-gradient(183deg, #fff1dc 0, #ffd79d 100%);
    border-radius: 7rem;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 3rem;
    color: #20272f;
    font-weight: 500;
}

.login-now {
    color: var(--primary-color);
    font-size: 2.2rem;
    padding: 2rem 0;
    text-align: center;
    display: block;
    margin: auto;

    &:hover {
        color: var(--primary-color);
    }
}