.home__custom-cart {
  position: fixed;
  bottom: 10rem;
  right: 50%;
  opacity: 0.8;
  transform: translateX(330%);
  // transform: translateX(50%);
  img {
    width: 9rem;
    height: 9rem;
  }
}

@media (max-width: 625px) {
  .home__custom-cart {
    transform: translateX(0);
   right: var(--container-padding);
  }
}
 