.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0 ;
  width: calc(100% + var(--container-padding)*2);
  transform: translateX(-2rem);
  padding: 0 1rem;
  transition: 0.5s;
  z-index: 99;

  &.isShow{
    background-color: var(--background-header);
  }
}

.logo {
  img {
    width: 11.3rem;
    height: 3.8rem;
  }
}

.right-header {
  display: flex;

  .group-icon{
    display: flex;
  }
  .icon {
    cursor: pointer;
    display: block;
    margin-left: 1.833rem;
    img {
      width: 4.166rem;
      height: 4.166rem;
    }
  }
}
