.header {
  width: 100%;
  height: 83.33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0 ;
  width: calc(100% + 40px);
  transform: translateX(-20px);
  padding: 0 10px;
  transition: 0.2s;
  z-index: 999;

  &.isShow{
    background-color: #1C2A37;
  }
}

.logo {
  img {
    width: 113px;
    height: 38px;
  }
}

.right-header {
  display: flex;

  .group-icon{
    display: flex;
  }
  .icon {
    cursor: pointer;
    display: block;
    margin-left: 18.33px;
    img {
      width: 41.66px;
      height: 41.66px;
    }
  }
}
